body {background-color: white;}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
}

.carousel .item {
  width: 100%;
  height: 100%;
}

.carousel-caption {
    top: 0;
    bottom: auto;
    align-content: center;
}

.carousel-caption {
    top: 0;
    right: 30%;
    bottom: auto;
}

.item img {
}

.top-left-text {
    position: absolute;
    top: 10%;
    left: 10%;    
    background-color: transparent;
    font-weight: bolder;
    font-size: 18px;
    color: white;
}

.top-left-time {
    position: absolute;
    top: 18%;
    left: 10%;
    font-weight: normal;
    font-size: 14px;
    background-color: transparent;
    color: white;
}

.bottom-right-text-price {
    position: absolute;
    bottom: 30%;
    right: 5%;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.bottom-right-text-details {
    position: absolute;
    bottom: 20%;
    right: 4%;
    background-color: green;
    color: white;
}

.bottom-right-text-details:hover {
    position: absolute;
    bottom: 20%;
    right: 4%;
    background-color: green;
    color: blue;
}
div.item_incluye {    
    font-size: 18px;
    width: auto;
    height: auto;
    text-align: center;      
}

div.item_incluye:hover{
    background-color: black;
    color: white;
    transition-duration: 1s;
}

div.item_description {
    border: 1px solid green;
    font-size: 16px;

    width: auto;
    height: 20%;
    text-align: left;
    
    padding-top: 20px;
    padding-bottom: 10px;

    margin-bottom: 8px;  
    margin-top: 8px; 
    border-top-width: 2px; 
    border-bottom-width: 2px; 
    border-left-width: 2px; 
    border-right-width: 2px;
}

div.descripcion_general{
    color: #a2a29c;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 20px;

    margin-bottom: 8px;  
    margin-top: 8px; 
    text-align: justify;
}

div.titulo_subsection{
    font-size: 30px;
    margin-top: 20px; 
    margin-bottom: 20px; 
    font-family: verdana;
}
  
div.item_description:hover{
    border-color: blue;
    color: black;
    transition-duration: 0.1s;
}

div.item_itinerario{
    font-size: 17px;
    text-align: left; 
    background-color: white;
    border-top-color: white;
    border-bottom-color: grey;
    border-left-color: white;
    border-right-color: white;

    border-bottom-style: dotted;
    
    padding-top: 5px;
    padding-bottom: 5px;

    margin-bottom: 6px;  
    margin-top: 6px; 
}

div.item_que_llevar{
    border: 1px solid ;
    border-color: #8ae93a;

    font-family: Verdana;

    font-weight: 1;

    color: #a8b0a2;

    padding-top: 6px;
    padding-bottom: 6px;

    margin-bottom: 8px;  
    margin-top: 8px;
}

div.item_itinerario:hover{
    background-color: #f3f3ed;
    color: black;
    transition-duration: 0.1s;
}

div.polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    align-content: center;
}

div.metodos_de_pago{
    border: 1px solid green; 
    margin-bottom: 20px;
}
div.metodos_de_pago:hover{
    background-color: #f3f3ed;
    color: black;
    transition-duration: 0.1s;
}  

div.box_img_polaroid {
    width: inherit;
    height: inherit;
    border: 0px solid black;
    overflow: hidden; /* clip the excess when child gets bigger than parent */
}

div.box_img_polaroid img {
    width: inherit;
    height: inherit;
    display: block;
    transition: transform .9s;   /* smoother zoom */
}
div.box_img_polaroid:hover img {
    transform: scale(1.13);
    transform-origin: 50% 50%;
}

div.img_polaroid_main img{
    width: 100%;
    height: inherit;
    border: 0px solid black;
    transition: transform 0.4s;
    
    overflow: hidden;
    display:inline-block;
}    
div.img_polaroid_main:hover img{
    transform: scale(1.04);
    transform-origin: 50% 50%;
    
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
}

td {
  vertical-align: inherit;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
}

@media only screen and (max-width: 991px) {
    #titulo-como-llego-a-nosotros,
    #item-radio-button-1,
    #item-radio-button-2,
    #item-radio-button-3,
    #item-radio-button-4 {
        padding-left:0px;
        text-align:left;
    }
}

.sin_espacios {
    padding-left:0px;
    padding-right:0px;
} 

.bordes{
    border:1px solid black;
}

.form_object_style {
  margin-top: 10px; 
  margin-bottom: 10px;
}

.dia_format{
    color: brown; 
    font-size: 20px; 
    font-weight: bold;
    font-family:arial;
}
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);*/
.item-1, 
.item-2, 
.item-3 {
    position: absolute;
    display: block;
    top: 2em;
    
    width: 60%;
    
    font-size: 2em;

    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.item-1{
    animation-name: anim-1;
}

.item-2{
    animation-name: anim-2;
}

.item-3{
    animation-name: anim-3;
}

@keyframes anim-1 {
    0%, 8.3% { left: -100%; opacity: 0; }
    8.3%,25% { left: 25%; opacity: 1; }
    33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
    0%, 33.33% { left: -100%; opacity: 0; }
    41.63%, 58.29% { left: 25%; opacity: 1; }
    66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
    0%, 66.66% { left: -100%; opacity: 0; }
    74.96%, 91.62% { left: 25%; opacity: 1; }
    100% { left: 110%; opacity: 0; }
}


/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none; 
    }
}


.jumbotron {
    background-image: url("img/test/04.png");
    background-size: cover;
}

hr.new4 {
    border: 1px solid grey;
}